
  <div class="background">
    
    
  </div>
  
    
    
    <div class="container">
       <div class="row">
           
           <% @rooms.first(6).each do |room| %>
           
            <div class="col-md-4 col-sm-6 text-center">
                <div class="panel panel-default">
                  <%= link_to room do %>
                    <div class="panel-body" style="background-image:url('<%= room.image_url %>'); height: 200px;"><h1><%= room.name %></h1></div>
                   <div class="panel-footer">Price: €<%= room.price %></div>
                   <% end %>
                   
                </div>
            </div>
            
            <% end %>
            
        </div>
    </div>


  
<script>
    $(function(){
        $(".typed").typed({
            strings: ["Welcome to <strong>Airbnbier</strong>!", "Book awesome student housing!"],
            typeSpeed: 10,
            startDelay: 1000,
            backDelay: 2000,
            contentType: 'html',
            loop: true
        });
    });
</script>