.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

div#main {
    min-height: 100vh;
}

.logo_footer {
  height: 75px;
  display:inline;
  margin-top: 2em;
}

.navbar-brand {
    padding: 0px 15px;
}

.navbar-default {
    background-color: #334d5c;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #EEC74A;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 50px;
}

.searchbutton {
  height: 50em;
}

input.searchbutton:hover {
  border: 1px solid white;
}

.jumbotron{
  background-image: url(/assets/cheers-header.jpg);
    background-size: cover;
    min-height: 90vh;

}

.panel-body:hover {
    opacity: 0.8;
    cursor: pointer;
}


.panel-footer {
    color:#000;
}



.panel-footer a:visited {
    color:#fff;
}




.panel-body {
    background-size: cover;
    background-position: center;
}

.panel-body h1{
    margin-top: 80px;
    color: #fff;
    text-shadow: 1px 0px 1px #eee;
}

@media only screen and (min-width : 768px) {
        .panel-body h1{
            margin-top: 60px;
        }
    }

/* Horizontal panel */

.panel.panel-horizontal {
    display:table;
    width:100%;
    margin-top: 50px;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.panel-horizontal .panel-heading {
    height: 200px;
    background-size:cover;
    background-position:center;
}

form {
  width:500px;
  margin:50px auto;
  display: inline;
}

.search {
  margin-top: 5%;
  margin-bottom: 25%;
  text-align: center;
}

input.button {
  position:relative;
  left:-8px;

}

.button:hover  {
  background-color: rgba(255, 255, 255, 0.9);
}

.searchinput {
  width: 20em;
}

.input {
    padding-left: 15px;
    height: 2em;box-sizing: border-box;-moz-box-sizing: border-box;
    height: 2.5em;
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

.searchbutton {
  margin-left: 0.2em;
  height: 2.42em;
  width: 7em;
  background-color: #334d5c;
  color: white;
  opacity: 0.9;
  border: 0px;
}

.date {
  width: 9.5em;
  color: grey;
}


.info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: white;
  border-top: 2px solid #334d5c;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}



.amount {
  font-size: 1.5em;
  font-weight:100;
  color: #4a4b4c;
}

.price {
  text-align: right;
  margin: 0 auto;
  margin-top: 2.3%;
  margin-right: 0.8em;
  color: #a2a2a2;
  font-weight:lighter;
}

.footer {
  margin-top: 5em;
  height: 10em;
  background-color: rgb(51, 77, 92);
  text-align:center;
}

.copyright {
  color: white;
  opacity: 0.6;
  margin-top: 0;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

a:visited {
    color: #fff;
}

.navbar-default .navbar-text {
    color: orange;
}

.all-rooms-container {
    margin-top: 50px;
}

.all-rooms-container a:visited {
    color:#fff;
}

/* Typed.js CSS */

.jumbotron .container {
    padding-top: 15%;
}

.typed {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
