  <div class="footer">
    <img class ="logo_footer" src="https://files.slack.com/files-pri/T1TPXC928-F1ZCLD4LF/airbnbier-logo.png" alt="logo">
    <p class="copyright">From the creators of Gitopoly	&copy; 2016</p>
  </div>