<div class="jumbotron">
        <div class="container-fluid text-center">
           <span class="typed"></span>
            <div class="search">
              <form>
                  <input class ="searchinput input" type="text" placeholder="Search..." required>
                  <input class ="input date" type="date" placeholder="From" required>
                  <input class ="input date" type="date" placeholder="To" required>
                  <input class="searchbutton" type="button" value="Search">
              </form>
            </div>
        </div>
    </div>